<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    <% include ./partials/jQuery.ejs %>
    <% include ./partials/materialize.ejs %>

    <link rel="stylesheet" href="/style.css">

    <script type="text/javascript" src="/script.js"></script>

  </head>
  <body>
    <% include ./partials/navbar.ejs %>

    <div class="center">
      <a id="add-user-button" href="" class="btn"><i id="add-user-icon" class="material-icons">person_add</i>Add New User</a>
    </div>


    <div class="myForm container z-depth-5 center-align">
      <form action="/users" method="post">
        <div class="input-field">
          <label for="first_name">First Name</label>
          <input type="text" name="first_name" value="">
        </div>
        <div class="input-field">
          <label for="last_name">Last Name</label>
          <input type="text" name="last_name" value="">
        </div>
        <div class="input-field">
          <label for="email">Email</label>
          <input type="text" name="email" value="">
        </div>
        <div class="input-field">
          <label for="age">Age</label>
          <input type="text" name="age" value="">
        </div>
        <input class="btn" type="submit" name="" value="Add New User">
        <a id="cancel-button" class="btn" href="">Cancel</a>
      </form>
    </div>

    <br>
    <br>

    <div class="myResultsDisplay container">
      <table class="striped center-align">
        <thead>
          <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Age</td>
          </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < results.length; i++) { %>
              <tr>
                <td><%= results[i].id %></td>
                <td><%= results[i].first_name %></td>
                <td><%= results[i].last_name %></td>
                <td><%= results[i].email %></td>
                <td><%= results[i].age %></td>
                <td><a href="/users/<%=results[i].id%>" method="get">View Profile</a></td>
              </tr>
            <% } %>
        </tbody>
      </table>
    </div>

    <ul class="pagination center">
      <% if (currentPage === 1) { %>
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <% } else { %>
        <li class="waves-effect"><a href="/users/page/<%= currentPage - 1 %>"><i class="material-icons">chevron_left</i></a></li>
      <% } %>

      <% for (let i = 1; i <= numberOfPages; i++) {
        if (i == currentPage) { %>
          <li class="active"><a class="selected-page" href="#!"><%= i %></a></li>
        <% } else { %>
          <li class="waves-effect"><a href="/users/page/<%= i %>"><%= i %></a></li>
        <% } %>
      <% } %>

      <% if (currentPage === numberOfPages) { %>
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      <% } else { %>
        <li class="waves-effect"><a href="/users/page/<%= currentPage + 1 %>"><i class="material-icons">chevron_right</i></a></li>
      <% } %>

    </ul>

  </body>
</html>
