<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/users">Go Back</a>
    <table style="width: 500px">
      <thead>
        <tr>
          <td>ID</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Age</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= id %></td>
          <td><%= first_name %></td>
          <td><%= last_name %></td>
          <td><%= email %></td>
          <td><%= age %></td>
        </tr>
      </tbody>
    </table>
    <a href="/users/<%= id %>/edit">Edit</a>
    <a href="/users/<%= id %>/delete">Delete</a>
  </body>
</html>
